# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\mc5to\OneDrive\Documents\GTA5\.idea/dataSources/
/dataSources.local.xml
/Programs/